# Print Function

In [ ]:
#simple print example
print("hello, world")

hello, world

In [ ]:
#Without print function
"Hello"
"world"

'world'

In [ ]:
#print with inputs
name = "marcus"
age = 26
print("my name is", name, "and I am", age, "years old")

my name is marcus and I am 26 years old

In [ ]:
#string concatenation (+)
print("my name is " + name + " and I am " + str(age) + " years old")

my name is marcus and I am 26 years old

In [ ]:
#F-string
print(f"my name is {name} and I am {age} years old")

my name is marcus and I am 26 years old

# Input Function

In [ ]:
#display a custom prompt to guide users by passing a string argument to the input function
name = input("please enter your name: ")

please enter your name: Marcus

In [ ]:
#asking for age
age = int(input("please enter your age: "))

please enter your age: 2

In [ ]:
#personalized greeting
name = input("please enter your name: ")
age = int(input("please enter your age: "))
print (f"Hello, {name}! You are {age} years old.")

please enter your name: Marcus
please enter your age: 26
Hello, Marcus! You are 26 years old.

In [ ]:
print(name, age)

Marcus 26

**# Name a hero exercise**

# Name a Hero Exercise

In [ ]:
name = input("What is your name? ")
age = int(input("What is your age? "))
adjetive = input("What is an adjetive that comes to mind? ")
animal = input("What is your favorite animal? ")
print (f"{name} is now {adjetive} {animal}! He is {age}. Go and save the world!")

What is your name? Marcus
What is your age? 26
What is an adjetive that comes to mind? Unbiased
What is your favorite animal? Eagle
Marcus is now Unbiased Eagle! He is 26. Go and save the world!

# Variable Types in Python

In [ ]:
# Checking Variable Type
name = "Marcus"
age = 26
height = 1.83
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Transfomr a float into an integer
height = 1.83
print(type(height))
height = int(height)
print(type(height))

<class 'float'>
<class 'int'>

In [ ]:
# Transform integer into a float
a = 1
b = float(a)
print(a)
print(b)

1
1.0

In [ ]:
# Transfomr a sting into a float/integer
height = float(input("Please insert your height: "))
type(height)

Please insert your height: 1.83

float

In [ ]:
# Boolean
c = True
type(c)

bool

# Python Arithmetic Operators

In [ ]:
# Declaring Variables
X = 5
y = 3

In [ ]:
# Addition
x = 5
y = 3
result = x + y
print(result)

8

In [ ]:
# Subtraction
X = 5
y = 3
x - y

2

In [ ]:
# Multiplication
X = 5
y = 3
x*y

15

In [ ]:
# Division
x/y

1.6666666666666667

In [ ]:
# Modulus
x % y

2

In [ ]:
# Exponential
x**y

125

In [ ]:
# Floor Division
x // y

1

In [ ]:
# Compound Assignment Operators ( +=, -=, *=, /=, %=, *=. //= )
x += 3 # equivalent to x = x + 3
print (x)

8

In [ ]:
# Less techi way of doing it
x = x + 3
print (x)

11

In [ ]:
# Floor Division Compound
x //= 5
print(x)

2

# Python Comparison Operators

In [ ]:
# Declaring the variables
x = 5
y = 3

In [ ]:
# Equal to (==)
x == y

False

In [ ]:
# Not equal
x != y

True

In [ ]:
# Greater than (>)
x > y

True

In [ ]:
# Less than
x < y

False

In [ ]:
# Greater than or equal to
x >= y

True

In [ ]:
# Less than or equal to (<=)
x = y

# Split the Bill Exercise

In [ ]:
# Step 1: Prompt the user for the total cost of the meal
meal_cost = float(input("enter the total cost of the meal: "))

# Step 2: Prompt the user for the tip percentage
tip_percentage = float(input("enter the tip percentage desired (e.g., 15 for 15%): "))

# Step 3: Prompt the user for the number of people at the table
number_of_people = int(input("enter the number of people at the table: "))

# Step 4: Calculate the tip amount using the tip percentage and meal cost
tip_amount = (tip_percentage / 100) * meal_cost

# Step 5: Calculate the total cost of the meal, including the tip
total_cost = meal_cost + tip_amount

# Step 6: Calculate the average cost per person
cost_per_person = total_cost / number_of_people

# Step 7: Display everything to the users: tip amount, total cost, cost per person
print(f"Tip amount: ${tip_amount:.2f}")
print(f"Total cost: ${total_cost:.2f}")
print(f"Cost per person: ${cost_per_person:.2f}")

enter the total cost of the meal: 40
enter the tip percentage desired (e.g., 15 for 15%): 10
enter the number of people at the table: 2
Tip amount: $4.00
Total cost: $44.00
Cost per person: $22.00

# Python If/Else Conditions

In [ ]:
# If statement
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

In [ ]:
# If + Elif statement
x = 5
if x > 5:
  print("x is greater than 5")
elif x == 5:
  print("x is equal to 5")

x is equal to 5

In [ ]:
# If + Elif + Else Statement
x = 10
if x > 5:
  print("x is greater than 5")
elif x == 5:
  print("x is equal to 5")
else:
  print("x is less than 5")

# Can you vote? Exercise

In [ ]:
# Create a if-sles condition that tells you whether thye can vote
# The assessment must be based on their age

age = int(input("please enter your age: "))
if age >= 18:
  print("you can vote")
else:
  print("you cannot vote")

# Grading Papers Exercise

In [ ]:
# Take an input of a test score (0-100) and transform it into a grade (A-F)
score = float(input("please enter your score (0-100): "))

if score >= 90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "F"

print(f"Your grade is: {grade}")

please enter your score (0-100): 74
Your grade is: C

# Berghain Club Bouncer Exercise

In [ ]:
# Step 1: Get user's age and the current number of guests
age = int(input("Please enter your age: "))
current_guests = int(input("Please enter the current number of guests: "))

# Step 2: Current entry rules
min_age = 18
max_age = 60
max_guests = 200

# Step 3: Use comparisons to determine if a guest can enter
can_enter = (min_age <= age <= max_age) and (current_guests < max_guests)


# Step 4: Communicate to the user if he/she can enter
if can_enter:
  print("Welcome to the club")
elif age < min_age or age > max_age:
  print("you are not allowed to enter due to your age")
elif current_guests > max_guests:
  print("the club is full and you cant enter")
else:
  print("sorry, not tonight")

Please enter your age: 25
Please enter the current number of guests: 201
the club is full and you cant enter

# Monthly savings plan Exercise

In [ ]:
# The goal is to create a program that calculates the ideal monthly savings amount based on the user's age, target retirement age, desired savings, and annual interest rate

age = int(input("Please enter your current age: "))
retirement_age = int(input("At what age would you like to retire? "))
desired_savings = int(input("How much money would you like to have at retirement? I.E. - 5000704     "))
annual_interest = int(input("What is your expected annual interest rate on your savings? "))
monthly_interest = ((1 + annual_interest / 100) ** (1/12)) -1


years_till_retirement = retirement_age - age
months_till_retirement = years_till_retirement * 12
monthly_savings = (desired_savings*monthly_interest)/(((1 + monthly_interest) ** months_till_retirement) -1)


print(f"to make this much money in time for retirement, you will need to save {monthly_savings:.2f} per month")

Please enter your current age: 30
At what age would you like to retire? 35
How much money would you like to have at retirement? I.E. - 5000704     405000
What is your expected annual interest rate on your savings? 4
to make this much money in time for retirement, you will need to save 6119.76 per month